---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import { formatDate } from "@lib/utils";
import { WORK } from "@consts";

// Load the collection data and prepare it for rendering
const collection = await getCollection("work");

// Sort the collection by date
const sortedCollection = collection.sort((a, b) => {
  const dateA = new Date(a.data.dateStart).valueOf();
  const dateB = new Date(b.data.dateStart).valueOf();
  return dateA - dateB;
});

const work = await Promise.all(
  sortedCollection.map(async (item) => {
    const { Content } = await item.render();
    return { ...item, Content };
  })
);

// Import lazysizes for client-side lazy loading
import 'lazysizes';
import 'lazysizes/plugins/attrchange/ls.attrchange';
---

<PageLayout title={WORK.TITLE} description={WORK.DESCRIPTION}>
  <Container>
    <div class="space-y-10">
      <div class="animate font-semibold text-black dark:text-white">
        Timeline
      </div>
      <p>
        Y’all niggas was hungry, here’s the beef 🥩
        <br> The full timeline of the greatest beef saga in hip-hop.
        <br> If this timeline is missing something, <a href="https://twitter.com/toolroom_knight">DM me on Twitter</a>.
        <br> This page might take a while to load. It is also not mobile optimized yet.
      </p>
      <ul class="flex flex-col space-y-12">
        {work.map((entry, index) => (
          <li class="animate">
            <div class="text-sm opacity-75">
              {formatDate(new Date(entry.data.dateStart))} <!-- Ensure conversion to Date object -->
            </div>
            <div class="font-semibold text-black dark:text-white">
              {entry.data.company}
            </div>
            <div class="text-sm opacity-75">
              {entry.data.role}
            </div>
            <article class="mb-8"> <!-- Increased bottom margin for the article -->
              <entry.Content />
            </article>
            {index !== work.length - 1 && <hr class="mt-14 border-t border-gray-200"/>} <!-- Increased margin-top for the hr element -->
          </li>
        ))}
      </ul>
    </div>
  </Container>
</PageLayout>
