---
import Head from "@components/Head.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { SITE } from "@consts";

type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <Head title={`${title} | ${SITE.NAME}`} description={description} />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
    <button id="backToTop" class="fixed bottom-5 right-5 p-3 bg-black text-white rounded-full hidden">Back to Top</button>
    <button id="lastUpdate" class="fixed bottom-20 right-5 p-3 bg-red-500 text-white rounded-full">Last Update</button>
    <script>
      window.addEventListener('scroll', function() {
        const backToTopButton = document.getElementById('backToTop');
        const lastUpdateButton = document.getElementById('lastUpdate');
        const footer = document.querySelector('footer');
        
        if (backToTopButton && lastUpdateButton && footer) {
          const footerPosition = footer.getBoundingClientRect().top + window.scrollY;

          // Toggle back to top button visibility
          if (window.scrollY > 200 && window.scrollY + window.innerHeight < footerPosition) {
            backToTopButton.classList.remove('hidden');
          } else {
            backToTopButton.classList.add('hidden');
          }

          // Toggle last update button visibility
          if (window.scrollY + window.innerHeight >= footerPosition) {
            lastUpdateButton.classList.add('hidden');
          } else {
            lastUpdateButton.classList.remove('hidden');
          }
        }
      });

      document.getElementById('backToTop')?.addEventListener('click', function() {
        window.scrollTo({ top: 0, behavior: 'smooth' });
      });

      document.getElementById('lastUpdate')?.addEventListener('click', function() {
        window.scrollTo({ top: document.body.scrollHeight, behavior: 'smooth' });
      });
    </script>
  </body>
</html>
